//------------------------
// Links
//------------------------
a{
  color: white;
}

//------------------------
// Quiz Backgound
//------------------------

.navbar-inner{
  background-color: #333333;
  background-image: none !important;
  height: 53px;
  margin: auto;
  padding: 0px;
  .navbar-footer{
    padding: 20px 25px 0 0;
    text-align: right;
  }
}

.hero-unit {
  padding: 0px;
  background-color: #333;
}

.background-img{
  background-image: asset-url('bg.jpg');
  background-repeat: repeat-x;
  width: 100%;
}

.hero-unit.container{
  background: none;
  margin-top: 53px;
  height: 694px;
  width: 1024px;
  margin-bottom: 0px;
}

//------------------------
// Login & Registration Layout
//------------------------

.init_bar, .init_bar_registration{
  text-align: center;
  background-color: white;
  margin: 193px 263px 178px 254px;
  border: 15px solid rgb(116, 116, 116);
    border: 15px solid rgba(235, 235, 235, .6);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  @include border-radius(8px);
    @include single-box-shadow;
    .init_bar_header_background{
      background-color: #a3cae3;
    }
    .init_bar_header{
      @include background-image(linear-gradient(#00adef, #0073bd));
      border: 2px groove #0072bc;
      border-bottom: 2px groove #77b4db;
      @include border-top-radius(8px);
      height: 30px;
      text-align: center;
      padding: 13px 0 0 0;
    }

    .init_bar_content{
      margin: 30px 90px 5px 90px;
      input.string.optional, input.password.optional{
        height: 32px;
        width: 243px;
        padding-left: 60px;
      }
      .init-field-no-padding{
        padding-left: 10px !important;
        width: 303px !important;
      }
      .init_bar_icons{
        position: relative;
        right: 170px;
      }
      abbr{
        visibility: hidden;
      }
      .init_bar_options{
        text-align: left;
        font-size: 11.97px;
      }
      input.boolean.optional{
        margin-top: -5px;
      }
      label.boolean.optional{
      top: -17px;
      position: relative;
      left: 20px;
      }
      .init_bar_btn{
        width: 103px;
      }
      .init_remember_me{
        margin-top: -3px;
      }
      .init_bar_link{
        width: 73px;
        margin-left:9px;
      }
      .btn-primary{
        @include background-image(linear-gradient(#00adef, #0073bd));
        border: 2px solid #0072bc;
        border-bottom: 2px solid #77b4db;
      }
    }
}




//------------------------
// Main Application Background
//------------------------

.navbar-inner-app{
  margin: auto;
  padding: 0px;
  width: 1200px;
  height: 100px;
  background-image: asset-url('header-bg.jpg');
  border-bottom: 1px solid #000000;
}

.container-app{
  
  margin-top: 100px;
  min-height: 800px;
  width: 1200px;
  background-image: none;
    @include single-box-shadow;
}

//------------------------
// Main Application Content
//------------------------

.content-area{
  background-image: asset-url('web-bg.jpg');
  min-height: 720px;
  overflow: hidden;
  padding:40px 40px 40px 40px;
}

//------------------------
// Home Content
//------------------------
.update-button{
  width: 138px !important;
  text-align: right;
  height: 36px;
}
.update-button-icon{
    position: relative;
    right: 130px;
    z-index: 10;
}


//------------------------
// Map Content
//------------------------
.map-wrapper{
  width: 800px;
  .map-area {
    height: 600px;
    width: 800px;
  }
}




