//------------------------
// Default Fonts
//------------------------

body {
  font-family: "Helvetica";
  color: grey;
}

.font-title{
  color: white;
  font-size: 20.83px;
  
}

.font-page-title{
  font-size: 30px;
  font-family: "Helvetica";
  border-bottom: 1px solid #d2d2d2;
  padding-bottom: 18px;
  @include text-shadow(rgba(black, 1) 0 -2px 0); 
}

.font-table-header{
  font-size: 16px;
  color: #ffffff;
}

.font-table-content{
  font-size: 14px;
}

.font-button{
  font-size: 14px;
}

.font-modal-header{
  font-size: 18px;
}

#modal-content{
  font-size: 24px;
}

.font-modal-stand{
  font-size: 18px;
  padding-top: 12px;
  color: black;
}

.font-form{
  margin-top: 5px;
  font-size: 16px;
  color: black;
}

.font-navbar{
  font-size: 18px;
  color: white;
  font-family: "Helvetica";
}

.font-footer{
  color: white;
}