//------------------------
// Form Layout
//------------------------

.row-fluid{
  margin-bottom: 10px;
}

.date-picker{
  width: 84%;
}

.radio_btn{
  span{
    float: left;
    width: 70px;
  }
  label{
  position: relative;
  width: 75%;
  top: -16px;
  left: 20px;
  }
}

.search_btn{
  background-image: url('search-icon.png');
  height: 30px;
  width: 31px !important;
  border: 0px;
}