//------------------------
// Main Layout
//------------------------

.page-content{
  margin-top: 29px;
  width: 100%;
}

//------------------------
// Modal Layout
//------------------------
.modal, .modal-stand{
  border: 15px solid rgb(116, 116, 116);
  border: 15px solid rgba(235, 235, 235, .6);
  @include border-radius(8px);
  width: 780px;
  height: 400px;
  .modal-button{
    width: 100px;
    height: 33px; 
    float: right;
    margin-right: 19px;
  }
  .modal-content{
    width: 733px;
    height: 232px;
  }
}


.modal-stand{
  height: 286px !important;
}


#modal-content{
  display: inline-block;
}

.modal-body-stand{
  margin: 18px 0 0 118px;
}

.modal-header-stand{
  margin: 43px 79px 0 62px;
}