//------------------------
// Div Table Layouts
//------------------------

.table-header{
  height: 30px;
  font-size: 16px;
  width: 898px;
  @include background-image(linear-gradient(#00adef, #0073bd));
  @include border-top-radius(8px);
  text-align: center;
  padding-top:11px;
  border: 2px groove #0072bc;
}

.table-content{
  padding: 24px 38px 27px 38px;
  margin-bottom: 30px;
  background-color: white;
  @include single-box-shadow;
  margin-left: 1px;
  margin-right: -3px;
  .row-fluid{
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e5e5;
    padding-top: 10px;
    .span3{
      border-right: 2px solid #e4e5e5;
    }
  }
  .table-link{
    text-align: right;
  }
}


