!!! 5
%html
  %head
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = render "ie"

  %body
    = render "head"
    = render "content"
    = render "footer"
    = debug(params) if Rails.env.development?
